<body>
    <header>
        <nav>
           <button mat-button class="primaryNavButton" [routerLink]="['home']">Home</button>
            <!-- <mat-menu #homeMenu="matMenu" yPosition="below">
                <button mat-menu-item [routerLink]="">Item 10</button>
                <button mat-menu-item [routerLink]="">Item 20</button>
            </mat-menu> -->
            <button mat-button class="primaryNavButton" [matMenuTriggerFor]="dataMenu">Working With Data</button>
            <mat-menu #dataMenu="matMenu" yPosition="below">
                <button mat-menu-item [routerLink]="['state-pops']">State Populations</button>
                <button mat-menu-item [routerLink]="['lodash']">Playing With Lodash</button>
            </mat-menu>
            <button mat-button class="primaryNavButton" [matMenuTriggerFor]="graphingMenu">Graphing</button>
            <mat-menu #graphingMenu="matMenu" yPosition="below">
                <button mat-menu-item [routerLink]="['barD3']">d3 Bar Graph</button>
                <button mat-menu-item [routerLink]="['pieD3']">d3 Pie Graph</button>
                <button mat-menu-item [routerLink]="['scatterD3']">d3 Scatter Graph</button>
            </mat-menu>
            <button mat-button class="primaryNavButton" [matMenuTriggerFor]="bigDataMenu">Big Data</button>
            <mat-menu #bigDataMenu="matMenu" yPosition="below">
                <button mat-menu-item [routerLink]="['']">data 1</button>
                <button mat-menu-item [routerLink]="['']">data 2</button>
                <button mat-menu-item [routerLink]="['']">data 3</button>
            </mat-menu>

        </nav>
    </header>
</body>
